.header {
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        cursor: pointer;
    }

    &__button {
        width: 124px;

        @media only screen and (max-width: 576px) {
            display: none;
          }
    }
}